*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
}

/* header con immagine e titolo*/
header{
    width: 100%;
    height: 60px;
    background-color: rgba(5, 111, 146, 0.2);
    border-bottom: 1px solid black;
    width: 100%;
    line-height: 60px;
    padding-left: 10px;
}
.logo-img{
    vertical-align: middle;
    display: inline-block;
}
.title{
    font-family: 'Festive', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;;
    display: inline-block;
    vertical-align: middle;
}

/*inizio menu*/
.section{
    margin:0 auto;
    width: 800px;
    background-color: #ffffff;
    
}
.section,menu{
    height: 40px;
    border-radius:5px;
    margin-top:40px;
    border:1px solid #47adf1;
}

.add{
    line-height: 20px;
    padding:1px 10px;
    border-radius: 5px;
    border:1px solid #000;
    margin-left:20px;
    margin-top:10px;
    display: inline-block;
    color:#000;
    font-family:monospace;
}
.add:hover{
    background-color: #47adf1;
}
/*Fine menu*/